*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    flex-wrap: wrap;
}

#main-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    background-image:url(/imgs/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#name-wrapper{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
}

#name{
    font-size: 40px;
    font-family: Montserrat;
    text-transform: uppercase;
    color: #fff;
}

#menu{
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
    justify-content: center;
}

#menu ul{
    display: flex;
    justify-content: center;
}

#menu li{
    padding: 0 12px;
}

#menu li a{
    font-size: 1.5rem;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
}