*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    flex-wrap: wrap;
}

#main-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image:url(./imgs/backgroundimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#name-wrapper{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
}

#name{
    font-size: 40px;
    font-family: Montserrat;
    text-transform: uppercase;
    color: #fff;
    user-select: none;
}

#menu{
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
    justify-content: center;
}

#menu ul{
    display: flex;
    justify-content: center;
}

#menu li{
    padding: 0px 12px;
}

#menu .option{
    font-size: 1.5rem;
    color: #fff;
    font-family: Montserrat;
    font-weight: 520;
    text-transform: uppercase;
    padding: 0 5px;
}

#menu .option:hover{
    color: #777BD3;
    border-radius: 14px;
    border: rgba(255, 255, 255, 0.589);
    background-color: rgba(255, 255, 255, 0.226);
}

.bar{
    font-size: 1.5rem;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
    user-select: none;
}

.contentWrapper{
    display: none;
    position: absolute;
    justify-content: center;
    height: 100vh;
    width: 60%;
    background-color: rgba(36, 36, 36, 0.911);
    border-radius: 5px;
    overflow-y: auto;
}

.content{
    padding: 120px 40px;
}

.content p{
    display: flex;
    text-align: justify;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-weight: 520;
}

.closeBtn{
    background-image: url(./imgs/close.png);
    background-color: rgba(253, 247, 247, 0);
    border: 0;
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#sobre #foto_felipe{
    border-radius: 50%;
}

#telefone {
    margin: 10px 0;
}

#telefone a{
    color: rgb(86, 86, 245);
    text-decoration: underline;
}

#email{
    color: rgb(255, 0, 0);
    margin: 10px 0;
}

#email a{
    color: rgb(255, 255, 255);
}

#github {
    color: rgb(105, 150, 228);
    margin: 10px 0;
}

#github a{
    color: rgb(86, 86, 245);
    text-decoration: underline;
}

#Linkedin a{
    color: rgb(86, 86, 245);
    text-decoration: underline;
}

.knowledgeWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 70px 0;
}

.knowledgeWrapper img{
    width: 80px;
    height: 80px;
}

.knowledgeWrapper p{
    text-align: justify;
}

.projectWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 70px 0;
}

.projectWrapper img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.projectWrapper a{
    display: flex;
    text-align: justify;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-weight: 520;
    margin: 10px 0;
}

.contactWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: 70px 0;
}

.contactWrapper img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.contactWrapper a{
    display: flex;
    text-align: justify;
    font-size: 1.2rem;
    color: rgb(105, 150, 228);
    font-family: Montserrat;
    font-weight: 520;
    margin: 10px 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
     background: #f1f1f1;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media(max-width:752px){
    #name-wrapper{
        text-align: center;
        margin: 20px 0 0 0;
    }

    #menu ul{
        flex-direction: column;
        align-items: center;
    }

    #menu li{
        padding: 10px 0 20px 0;
    }

    .bar{
        display: none;
    }

    .contentWrapper{
        width: 100vw;
    }  

    #menu .option{
        background-color: rgba(36, 36, 36, 0.555);
        border-radius: 14px;
    }

    .content p{
        text-align: left;
    }
}